* {
  margin: 0%;
  padding: 0%;
}



.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid red;
  height: 100%;
}

.left{
  border: 2px solid yellow;
  width: 50%;
  height: 100%;
  position: relative;
  background-image: url("car.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

 .logo {
  width: 80px;
}

.left > h1 {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 150px;
}

.logo-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    margin-top: 150px;
}

.logo-banner > h1 {
  color: white;
  margin: 0;
}

.right{
  border: 2px solid green;
  width: 50%;
  display: flex;
  justify-content: ;
  flex-direction: column;
}

.about {
  border: 2px solid red;
  height: 40%;
  display: flex;
  align-items: self-end;
  
}

.forms {
  border: 2px solid red;
  height: 35%;
}

.down {
  border: 2px solid red;
  height: 40%;
}

.about > p {
  border: 2px solid pink;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-right: 50px;
  padding: 5px;
}

.forms > h1 {
  border: 2px solid ;
  display: flex;
  padding: 5px;
}

